/* body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
} */

/*---------------BODY--------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Gill Sans MT, sans-serif;
  background-color: white;
  color: black;
  width: 100%;
  height: 100vh;
  font-size: 18px;
  border: none;
  overflow: hidden;
  outline: none;
}
/*-------------HEADER---------------*/
.header-input {
  border: none !important;
  outline: none;
  flex: 1;
  margin-right: 20px;
}
.head {
  padding: 10px 23px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  color: rgb(28, 101, 135);
  justify-content: space-between;
}
.slogan {
  height: 25px;
  border-bottom: 1px solid rgb(28, 101, 135);
  text-align: center;
  font-size: 12px;
  color: rgb(105, 101, 101);
}
.timestamp {
  border: none !important;
  outline: none;
  font-size: 16px;
  padding: 2px;
}
.App {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 15px;
}
button {
  background: none;
  border: 0;
  margin: 0;
  padding: 10px;
  font-size: 30px;
  font-family: inherit;
  cursor: pointer;
}
button:hover{
border-radius: 20px;
transition: background-color 0.3s ease;
}
/*---------------SIDEBAR----------------*/
.app-sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  border-right: 1px solid rgb(28, 101, 135);
}
.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}
.app-sidebar-header h1 {
  margin: 0;
}
.app-sidebar-notes {
  flex: 1;
  overflow-y: auto;
}
.app-sidebar-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-sidebar-note p {
  margin: 10px 0;
}
.app-sidebar-note small {
  color: #999;
}
.app-sidebar-note:hover {
  background: #ddd;
}
.app-sidebar-note.active, .app-sidebar-note.active small {
  background: rgb(28, 101, 135);
  color: white;
}
/*-----------------------------------*/
.app-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
}
.no-active-note {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(28, 101, 135);
  width: 100%;
  height: 100vh;
  font-size: 30px;
}
.app-main-note-edit {
  display: flex;
  flex-direction: column;
}
.full-width {
  width: 100%;
}
.app-main-note-edit input {
  display: block;
  border: 1px solid rgb(28, 101, 135);
  margin-bottom: 15px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.app-main-note-edit input {
  height: 50px;
  font-size: 1.6rem;
}
.app-main-note-preview {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-top: 1px solid rgb(211, 211, 211);
  overflow-y: auto;
  min-height: 80vh;
}
/*-----------------------------------*/
.preview-title {
  padding: 20px;
  margin: 0;
  width: 90%;
}
.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 16px;
  line-height: 2rem;
  word-wrap: break-word;
}
.note-header {
  display: flex;
  align-items: center;
}
/*-----------------------------------*/
.editor-toolbar {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}
.editor-toolbar button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-right: 8px;
}
.editor-toolbar select {
  margin-right: 8px;
}
.editor-toolbar button.active {
  background-color: #e7e7e7;
}
/*-----------------current------------------*/
button.tools-edit {
  background: none;
  margin: 0;
  font-size: 20px;
  border-radius: 20px;
  font-family: inherit;
  transition-duration: 0.3s;
}
button.tools-edit:hover {
  background: rgb(28, 101, 135);
  color: white;
}
button:hover {
  background: rgb(28, 101, 135);
  color: white;
}
button.tools-preview {
  background: none;
  margin: 0;
  font-size: 20px;
  border-radius: 20px;
  transition-duration: 0.3s;
}
button.tools-preview:hover {
  background: rgb(28, 101, 135);
  color: white;
}
/*-----------------------------------*/
.app-sidebar-search {
  padding: 10px;
  border-bottom: 1px solid rgb(28, 101, 135); 
}
.app-sidebar-search input {
  width: 100%;
  border-radius: 15px;
  border: 1px solid #cecccc;
  padding: 12px;
  font-size: inherit;
  font-family: inherit;
  transition-duration: 0.3s;
}
.app-sidebar-search input:hover, .app-sidebar-search input:focus {
  border-color: #c0bfbf;
}
/*-----------------------------------*/